<h1>Editing Problem</h1>

<%= render 'form', problem: @problem %>
<div class="small-br"></div>
<%= link_to 'Show', @problem, class: "btn btn-pirate-skyblue"  %>
<%= link_to 'Back', problems_path, class: "btn btn-pirate-skyblue"  %>
