<h1>Problems</h1>

<div class="row">
  <% @problems.each do |problem| %>
    <div class="col s12 m6 xl4">
      <%= render "card", problem: problem %>
    </div>
  <% end %>
</div>

<br>

<% if can? :create, Problem %>
  <div class="fixed-action-btn vertical">
    <%= link_to new_problem_path, class: 'btn-floating btn-large green' do %>
      <i class="large material-icons"> add </i>
    <% end %>
  </div>
<% end %>
