.pirate-skyblue-text {
  color: $pirate-skyblue !important;
  &:hover {
    color: $pirate-skyblue-light !important;
  }
  &:active {
    color: $pirate-skyblue-dark !important;
  }
}

.pirate-orange-text {
  color: $pirate-orange !important;
  &:hover {
    color: $pirate-orange-light !important;
  }
  &:active {
    color: $pirate-orange-dark !important;
  }
}

.pirate-red-text {
  color: $pirate-red !important;
  &:hover {
    color: $pirate-red-light !important;
  }
  &:active {
    color: $pirate-red-dark !important;
  }
}

.pirate-orange-bg {
  background-color: $pirate-orange;
}

.pirate-red-bg {
  background-color: $pirate-red;
}

.pirate-skyblue-bg {
  background-color: $pirate-skyblue;
}