<div class="navbar-fixed">
  <nav class="pirate-red-bg nav-extended">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo white-text">
          Code Champion
        </a>
        <div class="right">
          <a href="#" class="button-collapse hide-on-large-and-up" data-activates="mobile-menu">
            <i class="material-icons"> menu </i>
          </a>
        </div>
        <ul class="right hide-on-med-and-down">
          <%= render partial: "shared/menu_items" %>
        </ul>
      </div>
    </div>
  </nav>
</div>