 /* label color */
 .input-field label {
   color: $pirate-skyblue;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $pirate-skyblue;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $pirate-skyblue;
   box-shadow: 0 1px 0 0 $pirate-skyblue;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $pirate-skyblue;
   box-shadow: 0 1px 0 0 $pirate-skyblue;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $pirate-skyblue;
   box-shadow: 0 1px 0 0 $pirate-skyblue;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $pirate-skyblue;
 }

input:not([type]):focus:not([readonly]) + label, 
input[type=text]:not(.browser-default):focus:not([readonly]) + label, 
input[type=password]:not(.browser-default):focus:not([readonly]) + label, 
input[type=email]:not(.browser-default):focus:not([readonly]) + label, 
input[type=url]:not(.browser-default):focus:not([readonly]) + label, 
input[type=time]:not(.browser-default):focus:not([readonly]) + label, 
input[type=date]:not(.browser-default):focus:not([readonly]) + label, 
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, 
input[type=tel]:not(.browser-default):focus:not([readonly]) + label, 
input[type=number]:not(.browser-default):focus:not([readonly]) + label, 
input[type=search]:not(.browser-default):focus:not([readonly]) + label, 
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $pirate-skyblue;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $pirate-skyblue;
  box-shadow: 0 1px 0 0 $pirate-skyblue;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: $pirate-skyblue;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: $pirate-skyblue-dark;
}