$pirate-skyblue-dark: #2294BD;
$pirate-skyblue: #25A2CE;
$pirate-skyblue-light: #28B1E1;
$pirate-skyblue-light-2: #2BBFF3;

$pirate-red-dark: #D11B22;
$pirate-red: #E41E26;
$pirate-red-light: #F52028;

$pirate-orange-dark: #DC8721;
$pirate-orange: #ED9224;
$pirate-orange-light: #FF9D26;

$pirate-yellow: #EFB422;
$pirate-darkteal: #2C8098;
$pirate-grey: #B1B9BA;
$pirate-darkgrey: #828282;