
<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
  <category name="Logic" colour="#FF0000">
    <block type="controls_if"></block>
    <block type="logic_compare"></block>
    <block type="logic_operation"></block>
    <block type="logic_negate"></block>
    <block type="logic_boolean"></block>
  </category>
  <category name="Loops" colour="#00FF00">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <block type="math_number">
          <field name="NUM">10</field>
        </block>
      </value>
    </block>
    <block type="controls_whileUntil"></block>
  </category>
  <category name="Math" colour="#0000FF">
    <block type="math_number">
      <field name="NUM">123</field>
    </block>
    <block type="math_arithmetic"></block>
    <block type="math_single"></block>
  </category>
  <category name="Text" colour="#FF00FF">
    <block type="text"></block>
    <block type="text_length"></block>
    <block type="text_print"></block>
  </category>
</xml>


<xml xmlns="https://developers.google.com/blockly/xml" id="startBlocks" style="display: none">
  <block type="controls_if" inline="false" x="20" y="20">
    <mutation else="1"></mutation>
    <value name="IF0">
      <block type="logic_compare" inline="true">
        <field name="OP">EQ</field>
        <value name="A">
          <block type="math_arithmetic" inline="true">
            <field name="OP">MULTIPLY</field>
            <value name="A">
              <block type="math_number">
                <field name="NUM">6</field>
              </block>
            </value>
            <value name="B">
              <block type="math_number">
                <field name="NUM">7</field>
              </block>
            </value>
          </block>
        </value>
        <value name="B">
          <block type="math_number">
            <field name="NUM">42</field>
          </block>
        </value>
      </block>
    </value>
    <statement name="DO0">
      <block type="text_print" inline="false">
        <value name="TEXT">
          <block type="text">
            <field name="TEXT">Don't panic</field>
          </block>
        </value>
      </block>
    </statement>
    <statement name="ELSE">
      <block type="text_print" inline="false">
        <value name="TEXT">
          <block type="text">
            <field name="TEXT">Panic</field>
          </block>
        </value>
      </block>
    </statement>
  </block>
</xml>