<h1>Editing Solution</h1>

<%= render 'form', solution: @solution %>
<div class="small-br"></div>
<%= link_to 'Show', @solution, class: "btn btn-pirate-skyblue" %>
<%= link_to 'Back', solutions_path, class: "btn btn-pirate-skyblue" %>
